@model IEnumerable<SchoolApp.Models.Assignment>

@{
    ViewBag.Title = "AddAssignment";
}

<h2>Add assignment to course</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Add", "AssignmentToCourse", new { aId = item.Id, cId = ViewBag.cId })
        </td>
    </tr>
}

</table>
